<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">こんにちは</h1>
    <h2 class="text-white">Pictgram is a service that you can post photos.</h2>
   
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'Sign up', new_user_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'Log in', login_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <%= link_to 'help', pages_help_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <p class='text-white'> '説明はこちらです'</p>
      </div>
      <div class="col-md-offset-3 col-md-6">
        <%= link_to 'discription', pages_discription_path, class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-offset-3 col-md-3">
        <%= link_to 'sample01', pages_sample01_path,class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'sample02', pages_sample02_path,class: 'btn btn-block btn-white' %>
      </dif>
      <%= button_to "退会する",users_destroy_path, class: "destroy-user",method: :delete data: { confirm: 'アカウントを削除しますか？' } %> 
  </div>
</dif>